.App {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.UserProfile {
  display: flex;
  margin: 10px;
}

.Star {
  display: flex;
  margin: 4px;
  padding: 4px;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}

.StarItem {
  margin: 4px;
}

.Avatar {
  display: flex;
  margin: 4px;
  padding: 4px;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}

.AvatarIcon {
  display: block;
  width: 128px;
  height: 128px;
  border-radius:50%;
}
